
    <header id="header">
        <div class="container">
            <div class="row">
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <h1><img src="images/logo.png" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/team">The Team</a></li>
                        <li><a href="publications">Publications</a></li>
                        <li class="active"><a href="/datacenter">Data Center</a></li>
                        {{#if token}}
                            <li class="dropdown"><a href="/logout">Log Out</a></li>
                        {{else}}
                            <li class="dropdown"><a href="/login">Sign In</a></li>
                        {{/if}}
                    </ul>
                    </ul>
                </div>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Logged In</h1>
                            {{#if token}}
                                <p>You are now logged in</p>
                            {{else}}
                                <p>You are not logged in</p>
                            {{/if}}
                        </div>
                        <p>Token: {{token}}</p>
                        <p>Name: {{name}}</p>
                        <p>Orcid Id: {{orcidId}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#action-->

    <section id="blog" class="padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <div class="masonery_area">
                    
                </div>
            </div>
        </div>
    </section>
    <!--/#blog-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>
                
        </div>
    </footer>
    <!--/#footer-->
