<header id="header">
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <h1><img src="images/logo.png" alt="logo"></h1>
                </a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/team">The Team</a></li>
                    <li><a href="/publications">Publications</a></li>
                    <li class="active"><a href="/datacenter">Data Center</a></li>
                    <li><a href="http://oprs.pesitsouthscibase.org">OPRS</a></li>
                </ul>
                </ul>
            </div>
            <div class="search">
                <form role="form">
                    <i class="fa fa-search"></i>
                    <div class="field-toggle">
                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!--/#header-->


<section id="page-breadcrumb">
    <div class="vertical-center sun">
         <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">RREF</h1>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->



<section id="rref-papers">
  <div class="root-ref">
    <div class="container-fluid">
      <div class="col-sm-12 title-bar">
        /
      </div>
      <div class="container-fluid text-center">
        <h2>{{data.title}}</h2>
      </div>
      <div class="row">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="col-sm-8 col-sm-offset-4 article-details">
              <p><h3><b>Authors :</b> {{data.authors}}</h3></p>
              <p><h3><b>ArticleId :</b> {{data.articleId}}</h3></p>
              <p><h3><b>Publisher :</b> {{data.publisher}}</h3></p>
              <p><h3><b>DOI :</b> {{data.doi}}</h3></p>
            </div>
          </div>
          <div class="col-sm-12">
            <h3>References</h3><hr>
            <div class="owl-carousel owl-root owl-theme text-center">
              {{#each data.referenced_articles}}
                <div class="item-ref container-fluid ref-container" id="{{id}}">
                  <div class="ref-title"> {{articleId}}</div>
                  <div class="ref-text">{{title}}</div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="rref-paper-references">

</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  owlStart = function(c){
    $(c).owlCarousel({
      loop:false,
      margin:10,
      nav:true,
      navText: [
        "<i class='icon-chevron-left icon-white'><</i>",
        "<i class='icon-chevron-right icon-white'>></i>"
      ],
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:5
          }
      }
  });

  
}

owlStart('.owl-root');

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
  var socket = io();
  $(".item-ref").click(function(){
    $(this).css("background-color","#c6efff");
    var id = $(this).attr("id");
    socket.emit('rref_request', id);
  });
  socket.on('rref_response', function(res){
    //console.log(res);
    //alert(res.title);
    var childToAppend = '<div class="child-ref"> \
    <div class="container-fluid"> \
      <div class="col-sm-12 title-bar"> \
        '+res.dirStructure +
      '</div> \
      <div class="container-fluid text-center"> \
        <h2>'+res.title+'</h2> \
      </div> \
      <div class="row"> \
      <div class="container-fluid"> \
        <div class="col-sm-12"> \
          <div class="col-sm-8 col-sm-offset-4 article-details"> \
            <p><h3><b>Authors :</b> '+res.authors+'</h3></p> \
            <p><h3><b>ArticleId :</b> '+res.articleId+'</h3></p> \
            <p><h3><b>Publisher :</b> '+res.publisher+'</h3></p> \
            <p><h3><b>DOI :</b>'+res.doi+'</h3></p> \
          </div> \
        </div> \
        <div class="col-sm-12"> \
        <h3>References </h3><hr>\
        <div class="owl-carousel carousel'+res.level+' owl-theme text-center">';

    for(var i=0; i<res.referenced_articles.length; i++){
      childToAppend += '<div class="item-ref container-fluid ref-container" id="'+res.referenced_articles[i].id+'"> \
      <div class="ref-title">'+res.referenced_articles[i].articleId+'</div> \
      <div class="ref-text">'+res.referenced_articles[i].title+'</div> </div>';
      console.log("here");
    }

    childToAppend+='</div></div></div></div></div></div>';

    $("#rref-paper-references").append(childToAppend).promise().done(function(){
      owlStart('.carousel'+res.level);
      console.log("Started Carausel for "+ '.carousel'+res.level);
    });

    $(".item-ref").click(function(){
      $(this).css("background-color","#c6efff");
      var id = $(this).attr("id");
      socket.emit('rref_request', id);
    });


  });
});
</script>
